form {
    border-radius: 5px;
    background-color: lightgrey; 
    padding: 20px; 
}

label {display: block}

input[type=text], select {
    width: 100%; 
    padding: 12px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 4-x; 
    box-sizing: border-box; 
}

button[type=submit]{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}